body {
    background-color: #e0f7fa; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .floor-plan-overview {
    display: block;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
  }
  
  .floor-plan-overview h1{
    font-size: 35px;
    font-weight: bold;
    color: #00796b;
    margin-bottom: 40px;
  
  }
  
  .mains {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .space-list {
    position: relative;
    width: 750px;
    background: #f1f1f1;
    border: 2px solid #474747;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .space-list ul {
    list-style: none;
    padding: 6px;
  }
  
  .space-item {
    background-color: #ffffff;
    border: 2px solid #474747;
    border-radius: 2px;
    margin: 10px 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    align-items: center;
  }
  
  .space-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .space-item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #353535;
    margin-bottom: 10px;
  }
  
  .space-item p {
    font-size: 0.9rem;
    color: #3d3d3d;
    margin-bottom: 3px;
  }
  
  .space-item.available {
    background-color: rgb(198, 245, 198);
  }
  
  .space-item.occupied {
    background-color: #f34d4d; 
  }
  
  
  .space-details {
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #8f8d8d; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-left: 6px solid #f3a44b;
  }
  
  .space-details h2 {
    font-size: 1.5rem;
    color: #00796b;
    margin-bottom: 20px;
  }
  
  .space-details p {
    font-size: 1rem;
    margin: 10px 0;
    justify-content: center;
  }
  
  .space-details .info-label {
    color: #555;
    font-weight: bold;
  }
  
  .space-details .info-value {
    color: #313432;
    margin: 10px;
  }
  
  .assign-tenant-button {
    background-color: #028b74;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .assign-tenant-button:hover {
    background-color: #026b5a;
  }
  
  .tenant-modalss {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .tenant-modalss-content {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 12px;
    width: 800px; 
    max-height: 90%; 
    overflow-y: auto; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
  
  .tenant-modalss-content h3 {
    font-size: 1.5rem;
    color: #027368;
    margin-bottom: 15px;
    text-align: center; 
  }
  
  .tenant-modalss-content form {
    display: flex;
    flex-direction: column; 
  }
  
  .tenant-modalss-content label {
    font-weight: bold;
    color: #4d4d4d; 
    margin-top:6px; 
    margin-bottom: 5px;
   
  }
  
  .tenant-modalss-content input {
    padding: 8px;
    border: 1px solid #00796b;
    border-radius: 6px;
    background-color: #e7e9e7; 
    color: #333; 
    font-size: 1rem;
    transition: border-color 0.3s ease;;
    display: flow-root;
    
  }
  
  .tenant-modalss-content input:focus {
    border-color: #27ae60; 
    outline: none;
  }
  
  .tenant-modalss-content button {
    background-color: #027368; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: inline-block;
  }
  
  .tenant-modalss-content button[type="button"] {
    background-color: #e53935; 
    color: #ffffff;
    padding-right: 50px;
   
  }
  
  .tenant-modalss-content button:hover {
    background-color: #03a598; 
    transform: scale(1.05);
  }
  
  .tenant-modalss-content button[type="button"]:hover {
    background-color: #c61f1f;
    transform: scale(1.05);
  }
  
  .error-message {
    color: #ff6b6b; 
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  
  h1 {
    font-size: 2rem;
    color: #00796b;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .floor-selection {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .floor-selection label {
    margin-right: 10px;
    font-weight: bold;
    color: #00796b;
  }
  
  .floor-selection select {
    width: 80%; 
    padding: 10px 12px;
    font-size: 1rem;
    border: 1px solid #00796b;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .floor-selection select:focus {
    border-color: #2ecc71;
    box-shadow: 0 0 5px rgba(255,167,38,0.5);
  }
  
  @media (max-width: 1200px) {
    .floor-plan-overview {
      flex-direction: column;
      align-items: center;
    }
  
    .space-list, .tenant-details, .space-details {
      width: 90%; 
      margin-bottom: 20px;
    }
  }
  
  .test_row{
    display: inline-flex;
    justify-content:space-around;
    margin-top: 15px;
    gap: 20px;
  }

  .read-only-input {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  .info-text {
    font-size: 0.8rem;
    color: #666;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .buttons-row {
    display: flex;
    justify-items: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 470px;
    
  }